# Grafana datasource provisioning for NextGCore
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://172.23.0.200:9090
    isDefault: true
    editable: false

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://172.23.0.202:16686
    editable: false
