# AMF (Access and Mobility Management Function) Configuration
# Docker container configuration for 5G Core deployment

logger:
  file:
    path: /var/log/nextgcore/amf.log
  level: info

global:
  max:
    ue: 1024
    peer: 64

amf:
  sbi:
    server:
      - address: 172.22.0.5
        port: 7777
    client:
      nrf:
        - uri: http://172.22.0.10:7777
  ngap:
    server:
      - address: 172.22.0.5
        port: 38412
  metrics:
    server:
      - address: 172.22.0.5
        port: 9090
  guami:
    - plmn_id:
        mcc: 999
        mnc: 70
      amf_id:
        region: 2
        set: 1
  tai:
    - plmn_id:
        mcc: 999
        mnc: 70
      tac: 1
  plmn_support:
    - plmn_id:
        mcc: 999
        mnc: 70
      s_nssai:
        - sst: 1
  security:
    integrity_order: [NIA2, NIA1, NIA0]
    ciphering_order: [NEA0, NEA1, NEA2]
  network_name:
    full: NextGCore
    short: Next
  amf_name: nextgcore-amf0
  time:
    t3512:
      value: 540
