# NSSF (Network Slice Selection Function) Configuration
# Docker container configuration for 5G Core deployment

logger:
  file:
    path: /var/log/nextgcore/nssf.log
  level: info

global:
  max:
    ue: 1024
    peer: 64

nssf:
  sbi:
    server:
      - address: 172.23.0.14
        port: 7777
    client:
      nrf:
        - uri: http://172.23.0.10:7777
      nsi:
        - uri: http://172.23.0.10:7777
          s_nssai:
            sst: 1
