# SMF (Session Management Function) Configuration
# Docker container configuration for 5G Core deployment

logger:
  file:
    path: /var/log/nextgcore/smf.log
  level: info

global:
  max:
    ue: 1024
    peer: 64

smf:
  sbi:
    server:
      - address: 0.0.0.0
        port: 7777
    client:
      nrf:
        - uri: http://172.23.0.10:7777
  pfcp:
    server:
      - address: 172.23.0.4
        port: 8805
    client:
      upf:
        - address: 172.23.0.7
  gtpc:
    server:
      - address: 172.23.0.4
  gtpu:
    server:
      - address: 172.23.0.4
  metrics:
    server:
      - address: 172.23.0.4
        port: 9090
  session:
    - subnet: 10.45.0.0/16
      gateway: 10.45.0.1
    - subnet: 2001:db8:cafe::/48
      gateway: 2001:db8:cafe::1
  dns:
    - 8.8.8.8
    - 8.8.4.4
    - 2001:4860:4860::8888
    - 2001:4860:4860::8844
  mtu: 1400
